<div class="ui inverted basic huge menu nav"  ng-controller="NavbarCtrl">
  <a class="item" ng-show="isLoggedIn() || !item.needAuth" ng-repeat="item in menu" ng-href="{{item.link}}" ng-class="{active: isActive(item.link)}" ng-bind-html="item.title"></a>
  <div class="right menu">
    <a class='item' ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}" rel="nofollow" href="/signup">{{ 'SIGNUP.SIGNUP' | translate }}</a>
    <a class='item' ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}" rel="nofollow"  href="/login"><i class="sign in icon"></i> <span class="hide-mobile">{{ 'LOGIN.LOGIN' | translate}}</span></a>
    <a class='item hide-mobile' ng-show="isLoggedIn()" ><i class="user icon"></i> {{ getCurrentUser().name }}</a>
    <a class='item' ng-class="{active: isActive('/settings')}" rel="nofollow"  href="/settings"><i class="configure icon"></i></a>
    <a class='item' ng-show="isLoggedIn()" rel="nofollow"  ng-class="{active: isActive('/logout')}" href="/logout" ng-click="logout()"><i class="sign out icon"></i> <span class="hide-mobile">{{ 'LOGOUT' | translate}}</span></a>
  </div>
</div>