.hero-unit{
    color: #F5F5F5;
    background: #4393B9;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.nav.ui.menu{
    border-radius: 0;
    margin-bottom: 4px;
    background-color: #505278;
}
body{
    background-color: #E1E1E4;
}
.ui.delete.button{
    background-color: #CA6775;
    color: white;
}
.ui.delete.button:hover{
    background-color: #AA5460;
}
.ui.add.button{
    color: white;
    background-color: #6AA775;
}
.ui.add.button:hover{
    background-color: #4C8E57;
}
.ui.action.button{
    color: white;
    background-color: #6367B1;
}
.ui.action.button:hover{
    background-color: #4D519D;
}
.ui.alt.twitter.button{
    background-color: #6AA1AE;
}
.ui.alt.twitter.button:hover{
    background-color: #448290;
}
.ui.message{
    padding: 10px;
}
.home.container{
    width: 100%;
    background-color: #505278;
}
.home.container h1.ui.header{
    padding-top: 15vh;
    color: white;
}
.home.container h2.ui.header{
    color:white;
}
.home.container .signup-login{
    padding-bottom: 15vh;
}
.signup-login .ui.buttons .or:before{
    color: white;
    background-color: #505278;
}
.center.aligned.icon.content .icon{
    font-size: 10em;
    padding-top: 60px;

}
.home.ui.container{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.center.aligned.icon.content .lightning.icon{
    color: #F6FC98;
}
.center.aligned.icon.content .world.icon{
    color: #7A86BB;
}
.center.aligned.icon.content .money.icon{
    color: #8FDA83;
}


@media only screen and (max-width: 767px) {
    .hide-mobile{
        display: none !important;
    }
    .nav .icon{
        margin-right: 0 !important;
    }
}
@media only screen and (min-width: 768px) {
    .show-mobile-only{
        display: none !important;
    }
}