.ui.content.segments{
    padding: 0 !important;
}
.extra.poll.content, .ui.basic.menu.content{
    padding: 0;
}
.chart.content{
    height: 75vh;
}
.voters.icon{
    color: #8B8CA1;
}
.right.floated.message{
    margin: 0;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
    width: 100% !important;
}