<br>
<div class="ui container">
<div class="ui centered stackable cards">
    <div class="ui fluid card">
        <div class="content">

            <a target="_blank" class="ui circular icon facebook button right floated" href=https://www.facebook.com/dialog/share?app_id=682746471855920&display=popup&href={{location}}&redirect_uri={{location}}"><i class="facebook icon"></i></a>
            <a class="ui circular icon twitter button right floated" href="https://twitter.com/intent/tweet?url={{location}}&hashtags=pollvot&via=nemesiscodex&text={{ twitterText }}&short_url_length=22"><i class="twitter icon"></i></a>
            <div ng-if="!isLoggedIn()" class="ui info message right floated"><i class="info circle icon"></i> {{ 'SIGNUP.PLEASE_VOTE' | translate }}</div>
            <button ng-click="delete()" ng-if="isLoggedIn() && currentUser._id == poll.creator._id" class="ui light delete button right floated"><i class="remove circle icon"></i> {{ 'DELETE' | translate}}</button>

            <div ng-if="alreadyVoted.val && isLoggedIn()" class="ui info message right floated"><i class="info circle icon"></i> {{ 'POLLS.ALREADY_VOTED' | translate}}</div>
            <div class="header">{{poll.name}}</div>
            <div class="meta"><span translate="POLLS.CREATION" translate-values="{{ poll }}"></span><strong>{{poll.creator.name}}</strong></div>
        </div>
        <div ng-show="alreadyVoted.val || showResults" class="chart content">

        </div>
        <div class="ui fluid vertical basic menu content" ng-hide="alreadyVoted.val || showResults">
            <a class="item" ng-click="vote(item._id)" ng-repeat="item in poll.items"> <i class="thumbs up icon"></i>{{item.name}}</a>
        </div>
        <div class="content center aligned centered">
            <div class="fb-comments" data-href="{{location}}" data-version="v2.3"></div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
</div>